requests
moviepy
openai-whisper
faster-whisper
yt-dlp
pydub
streamlit
gtts
deep-translator
pandas
python-dotenv
whois
seaborn
langchain
faiss-cpu
sentence-transformers
langchain-community
ollama
whisper
torch
langchain-groq
