requests
moviepy
openai-whisper
faster-whisper
yt-dlp
streamlit
python-dotenv
langchain
langchain-community
ollama
whisper
langchain-groq
gTTS
pyttsx3
firebase-admin
fastapi
datetime
uvicorn
functools
uuid
typing
os
pandas
time
pathlib
requests-adapters
urllib3-util
arxiv
langchain-core
